@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Rethink Sans", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Rethink Sans", ui-sans-serif, system-ui, sans-serif;

  --color-sv-light-blue: #0ca2fe;
  --color-sv-light-blue-light: #54bdfe;
  --color-sv-light-blue-dark: #0981cb;
  --color-sv-light-blue-lighter: #ceecfe;
  --color-sv-light-blue-lightest: #e6f5fe;
  --color-sv-light-blue-darker: #044065;
  --color-sv-light-blue-darkest: #03304c;

  --color-sv-dark-blue: #0c1438;
  --color-sv-dark-blue-light: #545a73;
  --color-sv-dark-blue-lighter: #ced0d7;
  --color-sv-dark-blue-lightest: #e6e7eb;
  --color-sv-dark-blue-dark: #09102c;
  --color-sv-dark-blue-darker: #040816;
  --color-sv-dark-blue-darkest: #030610;

  --color-sv-orange: #f5904d;
  --color-sv-salmon: #fd5d5f;
  --color-sv-lavender: #8977d8;

  --color-sv-neutral-darkest: #010103;
  --color-sv-neutral-darker: #1a1a1c;
  --color-sv-neutral-dark: #4d4d4e;
  --color-sv-neutral: #808081;
  --color-sv-neutral-light: #b2b2b3;
  --color-sv-neutral-lighter: #d8d8d9;
  --color-sv-neutral-lightest: #f2f2f2;
}

body {
  background-color: var(--color-sv-neutral-lightest);
  color: var(--color-sv-neutral-darkest);
}
